.settings-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-wrapper {
    width: 500px;

    margin: 50px;
}

.table-title-wrapper {
    display: flex;
    align-items: center;
}

.table-title {
    margin-right: 10px;
}