.reports-page {
    width: 100%;
    height: 100%;
    min-height: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.report-ps {
    width: 420px;

    margin: 50px 20px;
}

.report-ps-dp-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.report-ps-dp {
    width: 180px;
}

.report-ps-button-wrapper {
    display: flex;
    justify-content: space-between;
}

.report-ps-button {
    margin-bottom: 20px;
}

.report-cs {
    width: 1000px;
    min-height: 0;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 5px;

    margin: 50px 20px;
    overflow-y: auto;
}

.report-cs-tables-wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}

.report-cs-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-cs-tables-title {
    margin: 15px 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    table-layout: fixed;
}

.report-cs-tables-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.report-cs-total-amount {
    display: flex;
    flex-direction: row;
    justify-content: end;

    font-size: 16px;
}