<div class="sc-dialog">
    <h2>Category {{ name() ? '- ' + name() : '' }}</h2>

    <form class="sc-form" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        @if (isLoading()) {
        <div class="spinner-wrapper">
            <mat-spinner></mat-spinner>
        </div>
        } @else {
        <div class="sc-form-row">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" type="text" formControlName="name" />
            </mat-form-field>

            <div class="sc-type-wrapper">
                <p style="margin: 0 0 5px 0">{{
                    categoryForm.get('type')?.value ? 'Expense' : 'Income'
                    }}</p>

                <mat-slide-toggle formControlName="type"></mat-slide-toggle>
            </div>
        </div>

        <div class="sc-form-row">
            <mat-form-field>
                <mat-label>Icon</mat-label>
                <input matInput placeholder="Icon" type="text" formControlName="icon">
            </mat-form-field>

            <div class="sc-icon-wrapper">
                @if (categoryForm.get('icon')?.value) {
                <mat-icon class="sc-icon">{{ categoryForm.get('icon')?.value }}</mat-icon>
                }
            </div>
        </div>

        <div class="sc-button-group">
            <button matButton="filled" type="submit" [disabled]="categoryForm.invalid">Submit</button>
            <button matButton="tonal" type="button" (click)="onClose()">Cancel</button>
        </div>
        }
    </form>
</div>