.login-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logo {
    width: 400px;

    margin-bottom: 10px;
}

.login-error {
    color: red;


    margin: 5px 0px;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}