html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cal-month-view,
.cal-week-view,
.cal-day-view {
    background-color: transparent !important;
}

.cal-month-view .cal-day-cell.cal-today {
    background-color: #cfe2f3 !important;
}

.cal-month-view .cal-day-number {
    opacity: 1;
}